:root {
    --numCols: 8;
}



.grid-container {
    border-radius: 10px;
    display: grid;
    background-color: white;
    border: 5px solid white;
    /*grid-template-columns: repeat( calc(var(--numCols) + 2) , auto );*/ /*split into N columns*/ /*NOW SETTING IN SEPARATE CLASS, SO CAN VARY NUM COLS*/
    grid-auto-rows: minmax(10px,auto);
    grid-row-gap: 5px;
    grid-column-gap: 0px;
    
    text-align: middle;
}

.grid-container-22cols { grid-template-columns: repeat( 22 , auto ); }
.grid-container-21cols { grid-template-columns: repeat( 21 , auto ); }
.grid-container-20cols { grid-template-columns: repeat( 20 , auto ); }
.grid-container-19cols { grid-template-columns: repeat( 19 , auto ); }
.grid-container-18cols { grid-template-columns: repeat( 18 , auto ); }
.grid-container-17cols { grid-template-columns: repeat( 17 , auto ); }
.grid-container-16cols { grid-template-columns: repeat( 16 , auto ); }
.grid-container-15cols { grid-template-columns: repeat( 15 , auto ); }
.grid-container-14cols { grid-template-columns: repeat( 14 , auto ); }
.grid-container-13cols { grid-template-columns: repeat( 13 , auto ); }
.grid-container-12cols { grid-template-columns: repeat( 12 , auto ); }
.grid-container-11cols { grid-template-columns: repeat( 11 , auto ); }
.grid-container-10cols { grid-template-columns: repeat( 10 , auto ); }
.grid-container-9cols { grid-template-columns: repeat( 9 , auto ); }
.grid-container-8cols { grid-template-columns: repeat( 8 , auto ); }
.grid-container-7cols { grid-template-columns: repeat( 7 , auto ); }
.grid-container-6cols { grid-template-columns: repeat( 6 , auto ); }
.grid-container-5cols { grid-template-columns: repeat( 5 , auto ); }
.grid-container-4cols { grid-template-columns: repeat( 4 , auto ); }
.grid-container-3cols { grid-template-columns: repeat( 3 , auto ); }


.grid-item-seatName {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(217,217,217);
    min-height: 3em; /*Just to keep rows not mimimum height*/
}

.subgrid-item-seatContract {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 2;
    grid-column-end: -2;
    background-color:rgb(242,242,242);
    text-align: center;
    grid-column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.grid-item-seatMaxContract {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: -2;
    grid-column-end: -1;
    background-color:rgb(217,217,217);
}

.subgrid-item-rainbowStrip {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color:#538DD5;
    text-align: center;
}

.grid-item-board {
    display: flex;
    align-items: center;
    justify-content: center;    
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(242,242,242);
}


.grid-item-blank {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color:rgb(242,242,242);
    text-align: center;
}

/*
.subgrid-item-scoreGraphBlack {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 2;
    grid-column-end: -5;
    background-color:#000000;
    text-align: center;
}
*/


.red { color: #FF0000; }
.blue { color: #1d85da; }



.subgrid-item-scoreGraph {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: 2;
    grid-column-end: -2;
    background-color:rgb(255,255,255);
    text-align: center;
}

.fontstretch {
    font-stretch: expanded;
}

/*
.score0 { background-color: #F8696B; }
.score10 { background-color: #F8696B; }
.score20 { background-color: #FA9974; }
.score30 { background-color: #FCBA7A; }
.score40 { background-color: #FEDA80; }
.score50 { background-color: #FFEB84; }
.score60 { background-color: #FFEB84; }
.score70 { background-color: #ECE683; }
.score80 { background-color: #B1D580; }
.score90 { background-color: #63BE7B; }
.score100 { background-color: #63BE7B; }
*/

    .score0 {  background-color:#F8696B; }
    .score5 {    background-color:#F8766D; }
        .score10 { background-color:#F98370; }
        .score15 { background-color:#FA9072; }
        .score20 { background-color:#FA9D75; }
        .score25 { background-color:#FBAA77; }
        .score30 { background-color:#FCB77A; }
        .score35{ background-color:#FCC47C; }
        .score40{  background-color:#FDD17F; }
        .score45{ background-color:#FEDE81; }
        .score50 { background-color:#FFEB84; }
        .score55 {  background-color:#F0E784; }
        .score60 {   background-color:#E0E383; }
        .score65  { background-color:#D1DE82; }
        .score70  {  background-color:#C1DA81; }
        .score75  {  background-color:#B1D580; }
        .score80  {  background-color:#A2D07F; }
        .score85{   background-color:#92CC7E; }
        .score90 {   background-color:#83C77D; }
        .score95 {   background-color:#73C37C; }
        .score100  {   background-color:#63BE7B; }
  





.blackLine { background-color: #050404;     
    justify-content: center;
}

.smallRow { height: 0.1em; }

.gridTop { align-items: top; height: 3em; align-self: stretch; font-size: 5px; }






.grid-container-table {
    display: grid;
    border-radius: 10px;
    background-color: white;
    border: 5px solid white;
    grid-template-columns: minmax(5em,auto) 1.5em minmax(2em,auto) 1.5em minmax(5em,auto); /*3 cols*/
    grid-auto-rows: minmax(10px,auto);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    
    text-align: middle;
}




.grid-item-ew {
    display: flex;
    align-items: center;
    justify-content: center;    
    
    grid-template-columns: subgrid;
}
.grid-item-ns {
    display: flex;
    align-items: center;
    justify-content: center;    
    grid-template-columns: subgrid;
}

.color_notVul {
    background-color:rgb(166, 207, 166);
    grid-template-columns:subgrid;
}
.color_vul {
    background-color:rgb(243, 186, 186);
    grid-template-columns:subgrid;
}



.grid-container-opponents {
    display: grid;
    background-color: white;
    border: 5px solid white;
    grid-template-columns: repeat( 3 , auto );
    grid-auto-rows: minmax(10px,auto);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    
    text-align: middle;
}

.subgrid-item-opps {
    display: flex;
    padding: 0.2em;
    align-items: center;
    justify-content: left;
    background-color:rgb(242,242,242);
}

.subgrid-item-opps-header {
    display: flex;
    padding: 0.2em;
    align-items: center;
    justify-content: center;
    background-color:rgb(217,217,217);
}



.grid-container-outcome {
    display: grid;
    background-color: white;
    border: 5px solid white;
    grid-template-columns: repeat( 3 , auto );
    grid-auto-rows: minmax(10px,auto);
    grid-row-gap: 2px;
    grid-column-gap: 5px;
    
    text-align: middle;
}

.subgrid-item-outcome {
    display: flex;
    padding: 0.1em;
    align-items: center;
    justify-content: left;
    background-color:rgb(242,242,242);
}

.subgrid-item-outcome-header {
    display: flex;
    padding: 0.1em;
    align-items: center;
    justify-content: center;
    background-color:rgb(217,217,217);
}
